
body {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/images/realidad2.jpeg');
  }

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contenedorcentrado {
    background-color: rgba(241, 184, 137, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

#login {
    background-color: #854318;
    padding: 20px;
    border-radius: 10px;
}

#loginform label,
#loginform input,
#loginform button {
    display: block;
    margin-bottom: 10px;
    width: calc(100% - 40px);
    margin-left: 20px;
    font-family: Consolas, sans-serif;
    color: #050505; /* Cambiar el color del texto a blanco */
}

#loginform input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(241, 184, 137, 0.7); /* Cambiar el fondo de los inputs */
}

#loginform button {
    padding: 10px;
    border: none;
    background-color: #0a0c0c;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

#loginform button:hover {
    background-color: #1AA7BA; 
    margin: 0 auto;
    display: block;
}

#derecho {
    padding: 20px;
    color: #010a0a;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pie-form a {
    color: #010505;
    text-decoration: none;
    margin-right: 10px;
    font-family: Consolas;
}

hr {
    border: none;
    border-top: 1px solid #077416;
    margin: 10px 0;
}
